{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}

<{{ wrapper_element }} {{ attributes }}>
  {% if title %}
  <{{ title_element }}{% if collapsible %} class="field-group-toggler"{% endif %}>{{ title }}</{{ title_element }}>
  {% endif %}
  {% if collapsible %}
  <div class="field-group-wrapper">
  {% endif %}
  {% if element.field_start_date is not empty and element.field_finish_date is not empty %}
      <div class="dates d-flex">
        <div class="label"><strong>Dates: </strong></div>
        <div class="date start-date"> {{ element.field_start_date }}</div>
        <div class="hyphen"> &ndash; </div>
        <div class="date finish-date"> {{ element.field_finish_date }} </div>
      </div>
  {% else %}
      {{children}}
  {% endif %}
  {% if collapsible %}
  </div>
  {% endif %}
</{{ wrapper_element }}>