{% extends 'paragraph--default.html.twig' %}

{% block paragraph %}
{# The template default set classes. #}
{# Sets Paragraph ID as class. #}
{%
set component_classes = [
accordion_active ? 'paragraph--accordion_active--',
 'accordian',
]
%}
{% set classes = classes|merge(component_classes) %}

{# Sets Unique ID for Accordion from Paragraph ID. #}
{% set paragraph_id = 'accordion-' ~ paragraph.id.value %}

{# Prints Accordion template. #}
<div class="paragraph--bp-accordion-container">
  <div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} role="tablist" aria-multiselectable="true">
      {{ title_suffix }}
      {% if content.bp_show_indicators['#items'].getString() %}
          {% set indicator_class = 'display' %}
      {% else %}
          {% set indicator_class = 'normal' %}
      {%  endif %}
      {# Loop through all of the accordion sections. #}
      {% for key, item in content.bp_accordion_section if key|first != '#' %}
        {# Set variables if accordion should be shown. #}
        {% if item['#paragraph'].bp_show_button.value %}
            {% set show_accordion = ' in' %}
            {% set aria = 'true' %}
        {% else %}
            {% set show_accordion = '' %}
            {% set aria = 'false' %}
        {% endif %}
        <div class="card">
          <div class="card-header" id="heading-{{ paragraph_id }}-{{ key + 1 }}">
            <div class="heading">
              <a class="{{ (indicator_class) }}" role="button" data-toggle="collapse" data-target="#collapse-{{ paragraph_id }}-{{ key + 1 }}" aria-expanded="false" href="#collapse-{{ paragraph_id }}-{{ key + 1 }}" aria-controls="collapse-{{ paragraph_id }}-{{ key + 1 }}">
                {# Print the accordion section title. #}
                {{ item['#paragraph'].bp_accordion_section_title.value }}
              </a>
            </div>
          </div>
          <div id="collapse-{{ paragraph_id }}-{{ key + 1 }}" class="card-block panel-collapse collapse {{ show_accordion }}" data-parent="#{{ paragraph_id  }}" aria-labelledby="heading-{{ paragraph_id }}-{{ key + 1 }}">
          {# Loop through all of the accordion section bodies. #}
            <div class="card-body">
                {{ item }}
            </div>
          </div>
        </div>
        {% endfor %}
  </div>
</div>
{% endblock %}
